.DS_Store
dna.txt
# Bazel
bazel-bin/*
bazel-testlogs/*
bazel-cglpp/*
bazel-out/*
# Makefile
test/bin/
test/build/
bin/
build/
lib/
!lib/src
packages/
# Vim
*.swp
# Visual Studio
Debug/
Release/
x64/
*.sln
*.db
*.opendb
*.vcxproj
*.filters
*.user
.vs
# 3D files
res/models
res/animations
