.DS_Store
# Makefile
test/bin/
test/build/
bin/
build/
lib/
!lib/src
# Vim
*.swp
# Visual Studio
Debug/
Release/
x64/
*.sln
*.db
*.opendb
*.vcxproj
*.filters
*.user
.vs
# 3D files
res/models
res/animations
